* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#app {
	width: 1200px;
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	text-align: right;
	padding: 20px 0;
}

.header h1 {
	font-size: 15px;
	float: left;
}

.header button {
	padding: 10px 15px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 10px;
	border: none;
	color: #fff;
	background: #1abf7a;
	box-shadow: 0 13px 45px -10px rgba(45,159,110,.6);
}

.header button:hover {
	background: #1cd988;
	box-shadow: 0 13px 45px -10px #1ac079;
}

.tabel-wrapper {
	overflow-y: hidden;
	overflow-x: scroll;
	width: 100%;
	padding-bottom: 20px;
}

.excel-table {
	margin: 0 auto;
	border-collapse: collapse;
	overflow-x: auto;
}

td {
	border: 1px solid #999;
	min-width: 120px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	wrap: no-wrap;
	text-align: right;
	padding: 2px;
	font-size: 16px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.data-cell:hover:after,
.chosen:before {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	border: 2px solid #007844;
	z-index: 1;
}

.data-cell:hover:after {
	border-color: #003678;
	z-index: 0;
}

td input {
	border: none;
	font-size: 16px;
	outline: none;
	position: relative;
	width: 100%;
	max-width: 100%;
	z-index: 3;
}

tr:first-child td,
td:first-child {
	background: #f7f7f7;
	padding: 1px 3px;
	font-weight: bold;
	text-align: center;
}

tr:first-child td:first-child {
	background: linear-gradient(to top left, #e8e8e8, #ffffff);
}

tr:first-child td {
	background: linear-gradient(to top, #e8e8e8, #ffffff);
}

td:first-child {
	background: linear-gradient(to left, #e8e8e8, #ffffff);
}

@media screen and (max-width: 1199px) {
	#app {
		width: 100%;
	}

	.header {
		text-align: left;
	}

	.header h1 {
		margin-bottom: 15px;
		margin-left: 10px;
		float: none;
	}

	.header button {
		margin-bottom: 5px;
	}
}